body{
	background-color: rgb(226, 255, 224);
	font-family: sans-serif;
	margin: 10px;
	/* height: 1000px; */
}

h1{
	text-align: center;
}


/* タブ部分のデザイン */
.tab-wrap {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tab-wrap:after {
	content: '';
	width: 100%;
	height: 6px;
	background: darkgreen;
	display: block;
	order: -1;
}

.tab-label {
	color: White;
	background: LightGray;
	font-weight: bold;
	text-align: center;
	padding: 10px .5em;
	order: -1;
	position: relative;
	z-index: 1;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	flex: 1;
}

.tab-label:not(:last-of-type) {
	margin-right: 5px;
}

.tab-content {
	width: 100%;
	background-color: rgb(250,250,250);
	height: 0;
	overflow: hidden;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
	background: darkgreen;
}

.tab-switch:checked+.tab-label+.tab-content {
	height: auto;
	overflow: auto;
	padding: 15px;
	opacity: 1;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}

/* ラジオボタン非表示 */
.tab-switch {
	display: none;
}



/* 入力ボックスのデザイン */
input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 70%;
	margin: 2px 0;
	padding: 0.3em;
	padding-left: 15px;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}

input[type=text]:focus {
	border-color: #da3c41;
}


/* ボタンデザイン */
.button{
	font-size: 17px;
	font-weight: bold;
	padding: 7px 23px;
	border: 0em;
	border-radius: 25px;
	text-decoration: none;
	color: #FFF;
	transition: .4s;
}

.dlt_btn{
	margin:30px 0 5px auto;
	background-color: red;
	float: right;
}

.srch_btn{
	background-color: rgb(252, 194, 86);
}

.search{
	margin: 30px 10px 7px 15px;
	width: 50%;
	float: left;
}



/* 検索結果用の表デザイン */
.booklist{
	margin: 0 auto;
	width:100%;
	height: 60vh;
	overflow:auto;
	border: 3pt;
}

table {
	border-color: #dbe2d9;
	margin: 0 auto;
	width: 100%;
}

table tr {
	background-color: #fff;
}
table tr:nth-child(even){
	background-color: #eee;
}

table td{
	padding: .35em 1em;
	border-width: 3px; /* 線の太さ */
}

table th {
	font-size: 1em;
	padding: 0.75em 1em;
	text-align: left;
	background-color: #68a75e;
	color:#fff;
}

.td1, .th1{ width: 8%; }
.th2, .td2{width: 20%;}
.th3, .td3{width: 10%;}
.th4, .td4{width: 60%;}

/* チェックボックスのデザイン */
.box{
	text-align: center;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
}











  






